* {
	box-sizing: border-box;
}

.flex-left {
	display: flex;
	flex-direction: column;
	flex-grow: 5;
}

.flex-container {
	display: flex;
	justify-content: center;
}

body {
	margin: 10;
	padding: 15px;
	color: #000000;
	background-color: #FFFFFF;
}

.left {
	padding: 15px;
	border: 1px solid #CCCCCC;
}

.left-top {
	border-radius: 5px 0px 0px 0px;
}

.left-bottom {
	border-radius: 0px 0px 0px 5px;
}

.right {
	padding: 25px;
	border: 1px solid #CCCCCC;
	border-radius: 0px 5px 5px 0px;
}

p, h4 {
	padding: 2px;
}

img {
	display: block;
	max-height: 600px;
	height: auto;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 50%;
}
