body {
	margin: 0;
	padding: 10px;
	color: #d7dff7;
	background-color: #2e468f;
}

.left {
	padding: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	width: 65%;
}

.right {
	padding: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	width: 25%;
	float: right;
}

p {
	padding: 2px;
}

img {
	display: block;
	max-height: 600px;
	height: auto;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 50%;
}
